**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

/models/ldm/text2img_large/model.ckpt
/models/ldm/text2img256/model.ckpt